GLFW_ICON ICON "rayeditor.ico"

1 VERSIONINFO
FILEVERSION     0,0,5,0
PRODUCTVERSION  0,0,5,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    //BLOCK "080904E4"  // English UK
    BLOCK "040904E4"    // English US
    BEGIN
      VALUE "CompanyName", "rayeditor by SplatTab"
      VALUE "FileDescription", "Ray Editor"
      VALUE "FileVersion", "0.5.0"
      VALUE "InternalName", "rayeditor"
      VALUE "LegalCopyright", "Copyright (c) 2022 (@SplatTab)"
      VALUE "OriginalFilename", "rayeditor.exe"
      VALUE "ProductName", "rayeditor"
      VALUE "ProductVersion", "0.5.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    //VALUE "Translation", 0x809, 1252  // English UK
    VALUE "Translation", 0x409, 1252    // English US
  END
END